:root {
  --primary-font-color: white;
  --secondary-font-color: #272044;
}

body {
  font-family: "poppins", sans-serif;
}
header {
  text-align: center;
}
.container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("bridge.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 230px 0;
  max-width: 1200px;
  margin: 0 auto;
}
header h3 {
  font-size: 24px;
  line-height: 1;
  letter-spacing: 5px;
  margin: 0;
}
header h1 {
  font-size: 80px;
  line-height: 1;
  margin: 15px 0;
}
header h2 {
  font-size: 40px;
  margin: 10px 0;
}
section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 40px;
}
.secondary-section {
  padding: 0;
  background: #f8f8f8;
  max-width: 1200px;
  margin: 0 auto;
}
.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}
.main-grid img {
  max-width: 100%;
}
.main-grid h3 {
  color: var(--secondary-font-color);
  opacity: 30%;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.5;
}
.main-grid h2 {
  font-size: 40px;
  line-height: 1.5;
  color: var(--secondary-font-color);
}
.main-grid p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-font-color);
  text-align: justify;
}
.class-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
header a {
  background: var(--primary-font-color);
  color: var(--secondary-font-color);
  padding: 16px 32px;
  text-decoration: none;
  display: inline-block;
  margin: 10px 0;
}

footer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("landscape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-font-color);
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

ul {
  list-style-type: none;
  font-size: 16px;
  padding: 0;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 20px;
  margin-left: 20px;
}
.hero a {
  color: var(--primary-font-color);
}
.hero p {
  font-size: 16px;
}
.hero h3 {
  font-size: 20px;
  line-height: 1;
}
@media (max-width: 900px) {
  .container {
    padding: 100px 0;
  }
  header h1 {
    font-size: 50px;
  }
  header h2 {
    font-size: 30px;
    margin: 20px 20px;
  }
  .main-grid {
    grid-template-columns: 1fr;
  }
  .hero {
    grid-template-columns: 1fr;
  }
}
